*{
    margin: 2px;
    padding: 0px;
}
nav{
    margin: 0px 200px;
}
nav, ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}
.p-title{
    font-size: 45px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    cursor: pointer;
}
.p-title:hover{
    border: none;
    border-radius: 10px;
    box-shadow: black 5px 5px 20px;
    background-color:rgb(11, 212, 72) ;
    color: rgb(29, 10, 241);
    /* color: white; */
    display: block;
}
span{
    color: red;
}
ul li{
    padding: 10px;
    margin-right: 30px;
}
nav ul a{
    text-decoration: none;
    color: black;
    padding: 5px;
    font-size: 22px;
    border-radius: 10px;
    padding: 5px 10px;
}
nav ul a:hover{
    /* background-color: rgb(197, 190, 190); */
    /* border: 2px solid black; */
    border: none;
    border-radius: 10px;
    box-shadow: black 5px 5px 20px;
    background-color: rgb(47, 134, 233);
    /* color: white; */
}
.btn{
    background-color: orange;
    color: rgb(34, 33, 33);
    font-size: 22px;
    font-weight: bold;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(47, 134, 233);
    color: white;
}
.header{
    background-color: bisque;
}
.banner{
    padding: 30px 30px 50px 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.banner .pic{
    width: 300px;
}